

.header-content {
  
    
    div {
        
        display: block;
        margin: auto;
        text-align: center;
     
    }

    h1 {
        color: #FFF;
        font-size: 3rem;
    }

    p {
        color: #FFF;
        font-size: 1rem;
    }
}