.content {
    height: 8rem;
    width: 100%;

    div:first-child {
        background-color: #FFF;
        width: 12%;
        margin-left: 36rem;
        height: 3.5rem;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        align-items: center;
        align-content: center;
        text-align: center;

        background-image: url('../../images/logo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60px;
        
        @media screen and (max-width: 968px) {
            display: none;
        }
    }

   
    ul {
        flex: 1;

        display: grid;
        grid-template-columns: 0.3fr 0.44fr 6fr;
        margin-left: 10rem;
        list-style: none;
        font-size: 1.1rem;
        color: #FFF;
        
        
        @media screen and (max-width: 968px) {
            display: none;
        }
    }

   
    

    
   
}

